<h1><%= @design.name %></h1>

<%= @design.description %>


</br><%= link_to "Edit", edit_user_design_path(current_user, @design) %>
</br><%= link_to "Delete", user_design_path(current_user, @design), method: :delete %>